/build
/buildtools

export/output/*

# third_party
platform/android/gradle/wrapper/gradle-6.7.1-all.zip
example/android/gradle/wrapper/gradle-6.7.1-all.zip
build
third_party/skity
third_party/lynx-textra
third_party/lynx
third_party/binary_deps
third_party/gyp
third_party/ffmpeg
third_party/harfbuzz
third_party/zlib
third_party/icu
third_party/modp_b64
third_party/perfetto
third_party/xhook
tools_shared/

compile_commands.json
testing/conformance_test/testkit/node_modules/
.cache/

/*.podspec
.bundle
.pnpm-debug.log
ruby

out/
platform/web/**/node_modules/
platform/web/**/package-lock.json
platform/web/**/*.tsbuildinfo
platform/web/core/public/build/
platform/web/video/third_party/
platform/darwin/ios/JSAssets/
tools/android_tools/ndk
tools/android_tools/sdk

platform/android/.gradle/
platform/android/local.properties
platform/android/animax_android/.cxx/
platform/android/animax_android/CMakeLists_impl/
platform/android/animax_android/libs/
example/android/animax_example/build/
example/android/.gradle/
example/android/.idea/
example/android/build/
example/android/local.properties

example/darwin/ios/animax_example/Podfile.lock
example/darwin/ios/animax_example/Pods
example/darwin/ios/animax_example/AnimaxExample.xcworkspace/*
example/darwin/ios/animax_example/AnimaxExample.xcodeproj/**
!example/darwin/ios/animax_example/AnimaxExample.xcodeproj/
!example/darwin/ios/animax_example/AnimaxExample.xcodeproj/project.pbxproj
!example/darwin/ios/animax_example/AnimaxExample.xcodeproj/xcshareddata/
!example/darwin/ios/animax_example/AnimaxExample.xcodeproj/xcshareddata/**
example/darwin/ios/animax_example/AnimaxExample/Resource/*
!example/darwin/ios/animax_example/AnimaxExample/Resource/testBench
example/darwin/ios/animax_example/iOSCoreBuild/
example/darwin/ios/animax_example/results_bundle
example/darwin/ios/animax_example/xctestrunner

# ignore all python script cache
**/__pycache__/

# ignore os specific hidden files
**/.DS_Store

# Editor specific files
.vscode
*.sublime-project
*.sublime-workspace
.idea

# ignore Gradle files
**/.gradle/
