# Dependencies
node_modules/
package-lock.json

# Build outputs
.next
out/
*.d.ts
*.js.map
*.wasm
*.wasm.map
public/build/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.env
.env.local
.env.*.local
!src/**/*.d.ts
